<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Please login first</p>
    <form method="Post">
      <button type="submit">Login Page</button>
    </form>
  </body>
</html>
